{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div id="error"><strong>Error!</strong> {{error}}</div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{Edit Lure Subscription}} {{id}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/lures/edit/{{id}}" method="post">
        <div class="form-group">
            {{Pokestop Name}}
            <input list="names" class="custom-select" name="pokestop_name" id="pokestop_name" value="{{pokestop_name}}" required>
            <datalist id="names">
                {{#pokestops}}
                <option value="{{.}}">
                {{/pokestops}}
            </datalist>
        </div>
        <div class="form-group">
            {{City}}
            <br>
            <button id="geofences-select-all" type="button" class="btn btn-primary btn-sm" onclick="selectGeofences(true)">{{Select All}}</button>
            <button id="geofences-select-none" type="button" class="btn btn-primary btn-sm" onclick="selectGeofences(false)">{{Select None}}</button>
            <br>
            <input type="input" id="city" name="city" readonly hidden />
            <div class="row">
                <div class="col-md-10">
                    <div id="map" style="height: 500px;"></div>
                </div>
                <div class="col-md-2">
                    <ul id="city-list" class="list-group city-list" style="max-height: 500px; height: 500px; margin-bottom: 10px; overflow:scroll;">
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{Location}}
            <select name="location" class="custom-select">
                <option value="">{{None}}</option>
                {{#locations}}
                <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/locations}}
            </select>
        </div>
        <br>
        <input type="hidden" id="guild_id" name="guild_id">
        <button type="submit" class="btn btn-primary">{{Save}}</button>
        <br>
        <br>
        <div id="error-div" class="alert alert-danger" style="float: none; margin: 0 auto;" hidden>
        </div>
        <br>
    </form>
    <form action="/api/lures/delete/{{id}}" method="post">
        <button type="submit" class="btn btn-danger" onclick="return confirm('{{Are you sure that you want to delete lure subscription}} {{id}}?');">{{Delete}}</button>
    </form>
</div>

<script type='text/javascript' src="/js/city-map.js"></script>
<script>
    if (!guildId) {
        window.location.href = '/';
    }
    $('#guild_id').val(guildId);
    $('#server_selector').prop('disabled', true);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
    initMap([{{start_lat}}, {{start_lon}}], {{start_zoom}}, {{min_zoom}}, {{max_zoom}}, "{{{tileserver}}}", {{{cities}}});
</script>
