{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div id="error"><strong>Error!</strong> {{error}}</div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{Edit Location}} {{name}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/location/edit/{{id}}" method="post">
        <div class="form-group">
            <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Enter a unique location name."></i>
            {{Location Name}}
            <input list="names" class="form-control"  name="name" id="name" value="{{name}}" readonly>
        </div>
        <div class="form-group">
            <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Maximum distance radius for the location."></i>
            {{Max Distance}}
            <input type="number" class="form-control" id="distance" name="distance" min=0 max=99999 step=50 placeholder="i.e. 500 (meters)" value="{{distance}}" required>
        </div>
        <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Click on the map to create a circle marker showing the distance radius."></i>
        <br>
        <div id="map" style="height: 500px;"></div>
        <input type="hidden" id="location" name="location" pattern="^(-?\d+(\.\d+)?),\s*(-?\d+(\.\d+)?)$" value="{{location}}" />
        <input type="hidden" id="guild_id" name="guild_id" />
        <br>
        <button type="submit" class="btn btn-primary">{{Save}}</button>
        <br>
        <br>
        <div id="error-div" class="alert alert-danger" style="float: none; margin: 0 auto;" hidden>
        </div>
        <br>
    </form>
</div>

<script type='text/javascript' src="/js/location-selector.js"></script>
<script type='text/javascript'>
    $('#guild_id').val(guildId);
    $('#server_selector').prop('disabled', true);
    $.ajax({
        url: '/api/server/' + $('#server_selector').val() + '/user/{{user_id}}?type=get_map_settings',
        method: 'POST',
        type: 'json',
        success: function(result) {
            initMap(
                [result.data.start_lat, result.data.start_lon],
                result.data.start_zoom,
                result.data.min_zoom,
                result.data.max_zoom,
                result.data.tileserver,
                "{{location}}",
                "{{distance}}"
            );
        },
    });
</script>
