{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div id="error"><strong>Error!</strong> {{error}}</div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{New Invasion Subscription}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/invasion/new" method="post">
        <div class="form-group">
            <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Enter a full Pokesop name or partial name."></i>
            {{Pokestop Name}}
            <input list="pokestop-names" class="custom-select" name="name" id="name">
            <datalist id="pokestop-names">
                {{#pokestops}}
                <option value="{{.}}">
                {{/pokestops}}
            </datalist>
        </div>
        <div class="form-group">
            <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Select a Team Rocket Invasion type."></i>
            {{Invasion Type}}
            <select name="grunt_type" class="custom-select" multiple>
                <!--<option value="all" selected>{{All}}</option>-->
                {{#types}}
                <option value="{{id}}">{{name}}</option>
                {{/types}}
            </select>
        </div>
        <div class="form-group">
            <div class="form-group">
                <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Search by Pokemon name and pokedex id, search multiple using spaces."></i>
                {{Search}}
                <input type="text" class="form-control" id="search" value="" placeholder="i.e Pikachu or 25" onkeyup="onPokemonSearch()">
            </div>
            <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Select Pokemon to subscribe to."></i>
            {{Reward}}
            <div id="pokemon-list" name="pokemon-list" class="pokemon-list custom-control">
            {{#rewards}}
                <div class="pokemon-icon-sprite item" id="{{id}}" name="{{name}}" data-value="{{id}}" onclick="onPokemonClicked(this)">
                    <img src="{{image_url}}" width="48" height="48" />
                    <span class="caption">#{{id}}</span>
                </div>
            {{/rewards}}
            </div>
            <input type="hidden" id="pokemon" name="pokemon" />
            <br>
            <button id="select_all" type="button" class="btn btn-primary btn-sm">{{Select All}}</button>
            <button id="select_none" type="button" class="btn btn-primary btn-sm">{{Select None}}</button>
            <button id="select_invert" type="button" class="btn btn-primary btn-sm">{{Invert Selection}}</button>
            <div class="btn-group">
                <button class="btn btn-warning btn-sm dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Generation
                </button>
                <div class="dropdown-menu">
                    <button id="select_gen1" type="button" class="bg-dark dropdown-item">{{Select Gen1}}</button>
                    <button id="select_gen2" type="button" class="bg-dark dropdown-item">{{Select Gen2}}</button>
                    <button id="select_gen3" type="button" class="bg-dark dropdown-item">{{Select Gen3}}</button>
                    <button id="select_gen4" type="button" class="bg-dark dropdown-item">{{Select Gen4}}</button>
                    <button id="select_gen5" type="button" class="bg-dark dropdown-item">{{Select Gen5}}</button>
                    <button id="select_gen6" type="button" class="bg-dark dropdown-item">{{Select Gen6}}</button>
                    <button id="select_gen7" type="button" class="bg-dark dropdown-item">{{Select Gen7}}</button>
                    <button id="select_gen8" type="button" class="bg-dark dropdown-item">{{Select Gen8}}</button>
                </div>
            </div>
            <button id="select_rare" type="button" class="btn btn-success btn-sm">{{Select Rare}}</button>
            <button id="select_ultra" type="button" class="btn btn-danger btn-sm">{{Select Ultra Rare}}</button>
        </div>
        <div class="form-group">
            {{City}}
            <br>
            <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Possible cities the Pokemon could be found in."></i>
            <button id="geofences-select-all" type="button" class="btn btn-primary btn-sm" onclick="selectGeofences(true)">{{Select All}}</button>
            <button id="geofences-select-none" type="button" class="btn btn-primary btn-sm" onclick="selectGeofences(false)">{{Select None}}</button>
            <br>
            <input type="input" id="city" name="city" readonly hidden />
            <div class="row">
                <div class="col-md-10">
                    <div id="map" style="height: 500px;"></div>
                </div>
                <div class="col-md-2">
                    <ul id="city-list" class="list-group city-list" style="max-height: 500px; height: 500px; margin-bottom: 10px; overflow:scroll;">
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Specific set location radius the Pokemon should meet."></i>
            {{Location}}
            <select id="location" name="location" class="custom-select">
                <option value="">{{None}}</option>
            </select>
        </div>
        <br>
        <input type="hidden" id="guild_id" name="guild_id" required>
        <button type="submit" class="btn btn-primary">{{Create}}</button>
        <br>
        <br>
        <div id="error-div" class="alert alert-danger" style="float: none; margin: 0 auto;" hidden>
        </div>
        <br>
    </form>
</div>

<script type='text/javascript' src="/js/city-map.js"></script>
<script type='text/javascript' src="/js/fetch-locations.js"></script>
<script type='text/javascript' src="/js/pokemon-list.js"></script>
<script type='text/javascript'>
    if (!guildId) {
        window.location.href = '/';
    }
    $('#guild_id').val(guildId);
    $('#server_selector').prop('disabled', true);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
    $.ajax({
        url: '/api/server/' + $('#server_selector').val() + '/user/{{user_id}}?type=get_map_settings',
        method: 'POST',
        type: 'json',
        success: function(result) {
            initMap(
                [result.data.start_lat, result.data.start_lon],
                result.data.start_zoom,
                result.data.min_zoom,
                result.data.max_zoom,
                result.data.tileserver
            );
        },
    });

    fetchLocations($('#server_selector').val(), '{{user_id}}', function(result) {
        for (const location of result.data.locations) {
            $('#location').append(new Option(location.name, location.name));
        }
    });
</script>
