{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div id="error"><strong>Error!</strong> {{error}}</div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{Edit Pokemon Subscription}} {{id}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/pokemon/edit/{{id}}" method="post">
        <div class="form-group">
            {{Form}}
            <!--
            <input type="text" class="form-control" name="form" value="{{form}}" pattern="^((?![aA][lL][lL]).)*$" placeholder="i.e. Sunny" id="pokemon_form" >
            -->
            <input list="forms" class="custom-select" name="form" id="pokemon_form" value="{{form}}">
            <datalist id="forms">
                {{#forms}}
                <option value="{{.}}">
                {{/forms}}
            </datalist>
        </div>
        <div class="form-group">
            {{Minimum IV}}
            <input type="number" class="form-control" name="iv" id="iv" value="{{iv}}" min=0 max=100 pattern="^[0-9][0-9]?$|^100$" placeholder="i.e. 100">
        </div>
        <div class="form-group">
            {{IV List}}
            <textarea class="form-control" name="iv_list" id="iv_list" placeholder="i.e. 0/15/14&#10;0/15/15&#10;1/15/15" rows="5">{{iv_list}}</textarea>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{Minimum Level}}
                    <input type="number" class="form-control" name="min_lvl" value="{{min_lvl}}" min=0 max=35 placeholder="i.e. 0">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{Maximum Level}}
                    <input type="number" class="form-control" name="max_lvl" value="{{max_lvl}}" min=0 max=35 placeholder="i.e. 35">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{Gender}}
                    <select name="gender" class="custom-select" required>
                        {{#genders}}
                        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                        {{/genders}}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{Size}}
                    <select name="size" class="custom-select" required>
                        {{#sizes}}
                        <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                        {{/sizes}}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{City}}
            <br>
            <button id="geofences-select-all" type="button" class="btn btn-primary btn-sm" onclick="selectGeofences(true)">{{Select All}}</button>
            <button id="geofences-select-none" type="button" class="btn btn-primary btn-sm" onclick="selectGeofences(false)">{{Select None}}</button>
            <br>
            <input type="input" id="city" name="city" readonly hidden />
            <div class="row">
                <div class="col-md-10">
                    <div id="map" style="height: 500px;"></div>
                </div>
                <div class="col-md-2">
                    <ul id="city-list" class="list-group city-list" style="max-height: 500px; height: 500px; margin-bottom: 10px; overflow:scroll;">
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{Location}}
            <select id="location" name="location" class="custom-select">
                <option value="">{{None}}</option>
                {{#locations}}
                <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/locations}}
            </select>
        </div>
        <br>
        <input type="hidden" id="guild_id" name="guild_id" required>
        <button type="submit" class="btn btn-primary">{{Save}}</button>
        <br>
        <br>
        <div id="error-div" class="alert alert-danger" style="float: none; margin: 0 auto;" hidden>
        </div>
        <br>
    </form>
    <form action="/api/pokemon/delete/{{id}}" method="post">
        <button type="submit" class="btn btn-danger" onclick="return confirm('{{Are you sure that you want to delete pokemon subscription}} {{id}}?');">{{Delete}}</button>
    </form>
</div>

<script type='text/javascript' src="/js/city-map.js"></script>
<script type='text/javascript' src="/js/pokemon-list.js"></script>
<script type='text/javascript'>
    if (!guildId) {
        window.location.href = '/';
    }
    var pokemon_form = document.getElementById('pokemon_form');
    pokemon_form.oninvalid = function (event) {
        event.target.setCustomValidity('Please leave blank if you want all pokemon forms');
    }

    $('#guild_id').val(guildId);
    $('#server_selector').prop('disabled', true);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
    $('#iv').change(function() {
        $('#iv_list').prop('disabled', this.value.length > 0);
    });
    $('#iv_list').change(function() {
        $('#iv').prop('disabled', this.value.length > 0);
    });
    $.ajax({
        url: '/api/server/' + $('#server_selector').val() + '/user/{{user_id}}?type=get_map_settings',
        method: 'POST',
        type: 'json',
        success: function(result) {
            initMap(
                [result.data.start_lat, result.data.start_lon],
                result.data.start_zoom,
                result.data.min_zoom,
                result.data.max_zoom,
                result.data.tileserver,
                {{{cities}}}
            );
        },
    });
</script>