{{#copyright_footer}}
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">
                        This website or the authors have no relationship with Niantic, Nintendo or any other Pokémon Go responsible.<br/><br/>
                        Pokémon Go is &copy;2016 Niantic, Inc. &copy;2016 Pokémon. &copy;1995–2016 Nintendo / Creatures Inc. / GAME FREAK Inc.<br/><br/>
                        Pokémon and Pokémon character names are trademarks of Nintendo. Other trademarks are the property of their respective owners.<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{{/copyright_footer}}