{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div id="error"><strong>Error!</strong> {{error}}</div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{New Gym Subscription}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/gyms/new" method="post">
        <div class="form-group">
            {{Gym Name}}
            <input type="text" class="form-control" name="name" value="" placeholder="i.e. Starbucks">
        </div>
        <br>
        <input type="hidden" id="guild_id" name="guild_id">
        <button type="submit" class="btn btn-primary">{{Create}}</button>
        <br>
    </form>
</div>

<script type='text/javascript'>
    $('#guild_id').val(guildId);
    $('#server_selector').prop('disabled', true);
</script>
