<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{New Gym Subscription}}</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <form action="/api/gyms/new" method="post">
                <div class="form-group">
                    {{Gym Name}}
                    <input type="text" class="form-control" name="name" value="" placeholder="i.e. Starbucks">
                </div>
                <div class="form-group">
                    {{City}}
                    <select name="city" class="custom-select" multiple required>
                        <option value="" selected disabled hidden>{{Choose a City}}</option>
                        <option value="all">All</option>
                        {{#cities}}
                        <option value="{{name}}" id="g_{{guild}}" hidden>{{name}}</option>
                        {{/cities}}
                    </select>
                </div>
                <br>
                <input type="hidden" id="guild_id" name="guild_id">
                <button type="submit" class="btn btn-primary">{{Create}}</button>
                <br>
            </form>
        </div>
    </body>
</html>

<script type='text/javascript' src="/js/pokemon-list.js"></script>
<script type='text/javascript'>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
    }
    $('#guild_id').val(guildId);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
</script>
