{{> header}}

{{> navbar}}

<br>
<h1 align="center" id="header">{{Delete All Gym Subscriptions}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/gyms/delete_all" method="post">
        <div align="center">
            <h3 id="message">{{Are you sure that you want to delete all of your gym subscriptions?}}</h3>
            <a href="/gyms" id="cancel" name="cancel" class="btn btn-secondary">{{Cancel}}</a>
            <input type="hidden" id="guild_id" name="guild_id" required>
            <button type="submit" class="btn btn-danger">{{Delete}}</button>
        </div>
        <br>
    </form>
</div>

<script>
    $('#guild_id').val(guildId);
</script>