<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
    <meta name='theme-color' content='#344440'>

    <link rel='shortcut icon' type='image/x-icon' href='./static/favicon.ico' />
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=' crossorigin='anonymous' />
    <link rel='stylesheet' type='text/css' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='' />
    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/cr-1.5.2/fh-3.1.6/r-2.2.3/sc-2.0.1/datatables.min.css' />
    <link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css' />
    <link rel='stylesheet' type='text/css' href='../../css/font-awesome.min.css' />
    <link rel='stylesheet' type='text/css' href='../../css/footer.css' />
    <link rel='stylesheet' type='text/css' href='../../css/pokemon-list.css' />
    <link rel='stylesheet' type='text/css' href='../../css/theme.css' />
    
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=' crossorigin='anonymous'></script>
    <!--<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js' integrity='sha256-tfcLorv/GWSrbbsn6NVgflWp1YOmTjyJ8HWtfXaOaJc=' crossorigin='anonymous'></script>-->
    <script type='text/javascript' src='https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/cr-1.5.2/fh-3.1.6/r-2.2.3/sc-2.0.1/datatables.min.js'></script>
    <script type='text/javascript' src='https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/flatpickr'></script>
    <script type='text/javascript' src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin=''></script>
    <script type='text/javascript' src='../../js/storage.js'></script>
    <script type='text/javascript' src='../../js/utils.js'></script>
    {{#analytics}}
    <script type='text/javascript' src='//google-analytics.com/analytics.js'></script>
    {{/analytics}}
    {{#adsense}}
    <script type='text/javascript' src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script>
    {{/adsense}}
</head>

<script type='text/javascript'>
    {{#analytics}}
    window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments);
    }
    ga.l = +new Date();
    ga('create', '{{analytics}}', 'auto');
    ga('send', 'pageview');
    {{/analytics}}
    {{#adsense}}
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: '{{google_adsense_id}}',
        enable_page_level_ads: true
    });
    {{/adsense}}
</script>