{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div><div id="error"><strong>Error!</strong> {{error}}</div></div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{title}}</h1>
<br>
<div style="width:90%; margin-left:calc(5%);">
    <div class="card text-center m-3">
        <div class="card-header bg-dark text-light"><b>{{Subscriptions}}</b></div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md p-1">
                        <div class="list-group">
                            <a class="list-group-item" href="/pokemon">
                                <h3 class="pull-right"><img src="./img/pokemon.png" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading text-light pokemon_count">{{pokemon_count}}</h4>
                                <p class="list-group-item-text text-light">{{Pokemon}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md p-1">
                        <div class="list-group">
                            <a class="list-group-item" href="/pokemon#pvp">
                                <h3 class="pull-right"><img src="./img/pvp.png" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading text-light pvp_count">{{pvp_count}}</h4>
                                <p class="list-group-item-text text-light">{{PVP}}</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md p-1">
                        <div class="list-group">
                            <a class="list-group-item" href="/raids">
                                <h3 class="pull-right"><img src="./img/raids.png" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading text-light raids_count">{{raids_count}}</h4>
                                <p class="list-group-item-text text-light">{{Raids}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md p-1">
                        <div class="list-group">
                            <a class="list-group-item" href="/raids#gyms">
                                <h3 class="pull-right"><img src="./img/gyms.png" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading text-light gyms_count">{{gyms_count}}</h4>
                                <p class="list-group-item-text text-light">{{Gyms}}</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md p-1">
                        <div class="list-group">
                            <a class="list-group-item" href="/quests">
                                <h3 class="pull-right"><img src="./img/quests.png" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading text-light quests_count">{{quests_count}}</h4>
                                <p class="list-group-item-text text-light">{{Quests}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md p-1">
                        <div class="list-group">
                            <a class="list-group-item" href="/invasions">
                                <h3 class="pull-right"><img src="./img/invasions.png" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading text-light invasions_count">{{invasions_count}}</h4>
                                <p class="list-group-item-text text-light">{{Invasions}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center m-3">
        <div class="card-header bg-dark text-light text-center"><b>{{Settings}}</b></div>
        <div class="card-body">
            <div class="container">
                <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{Name}}</th>
                        <th>{{Value}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        {{Members Online}}:&nbsp;<b><span id="clients_online" name="clients_online" style="color:green;">0</span></b>
    </div>
</div>
<br>

{{> footer}}

<script type='text/javascript' src='./js/utils.js'></script>
<script type='text/javascript'>
    $(document).ready(function() {
        const table = $('#table').DataTable({
            "ajax": {
                "url": "/api/server/" + $('#server_selector').val() + "/user/{{user_id}}?type=settings&formatted=true",
                "dataSrc": "data.settings",
                "async": true,
                "type": "POST"
            },
            "paging": false,
            "columns": [
                { "data": "name" },
                { "data": "value" }
            ],
            "info": false,
            "order": [[ 0, "asc" ]],
            "searching": false,
            "responsive": true
        });
    });

    function refreshData() {
        $.ajax({
            url: "/api/server/" + $('#server_selector').val() + "/user/{{user_id}}?type=subscriptions",
            method: "POST",
            type: "json",
            success: function(result) {
                updateCounter(".pokemon_count", result.data.subscriptions.pokemon);
                updateCounter(".pvp_count", result.data.subscriptions.pvp);
                updateCounter(".raids_count", result.data.subscriptions.raids);
                updateCounter(".gyms_count", result.data.subscriptions.gyms);
                updateCounter(".quests_count", result.data.subscriptions.quests);
                updateCounter(".invasions_count", result.data.subscriptions.invasions);
                $('#clients_online').text(result.data.clients_online);

                if ($('#server_selector').val() === null) {
                    $('#error').html('<strong>Error!</strong> Please select a server from the dropdown!');
                    $('.alert').removeClass('d-none');
                    return;
                }
            }
        });
    }

    refreshData();
</script>
