<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{title}}</h1>
        <br>
        <div style="width:90%; margin-left:calc(5%);">
            <div class="card text-center p-1 m-3">
                <div class="card-header bg-dark text-light"><b>{{Subscriptions}}</b></div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md p-1">
                                <div class="list-group">
                                    <a class="list-group-item" href="/pokemon">
                                        <h3 class="pull-right"><img src="./img/pokemon.png" width="64" height="64"/></h3>
                                        <h4 class="list-group-item-heading text-light pokemon_count">{{pokemon_count}}</h4>
                                        <p class="list-group-item-text text-light">{{Pokemon}}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md p-1">
                                <div class="list-group">
                                    <a class="list-group-item" href="/pokemon#pvp">
                                        <h3 class="pull-right"><img src="./img/pvp.png" width="64" height="64"/></h3>
                                        <h4 class="list-group-item-heading text-light pvp_count">{{pvp_count}}</h4>
                                        <p class="list-group-item-text text-light">{{PVP}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md p-1">
                                <div class="list-group">
                                    <a class="list-group-item" href="/raids">
                                        <h3 class="pull-right"><img src="./img/raids.png" width="64" height="64"/></h3>
                                        <h4 class="list-group-item-heading text-light raids_count">{{raids_count}}</h4>
                                        <p class="list-group-item-text text-light">{{Raids}}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md p-1">
                                <div class="list-group">
                                    <a class="list-group-item" href="/raids#gyms">
                                        <h3 class="pull-right"><img src="./img/gyms.png" width="64" height="64"/></h3>
                                        <h4 class="list-group-item-heading text-light gyms_count">{{gyms_count}}</h4>
                                        <p class="list-group-item-text text-light">{{Gyms}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md p-1">
                                <div class="list-group">
                                    <a class="list-group-item" href="/quests">
                                        <h3 class="pull-right"><img src="./img/quests.png" width="64" height="64"/></h3>
                                        <h4 class="list-group-item-heading text-light quests_count">{{quests_count}}</h4>
                                        <p class="list-group-item-text text-light">{{Quests}}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md p-1">
                                <div class="list-group">
                                    <a class="list-group-item" href="/invasions">
                                        <h3 class="pull-right"><img src="./img/invasions.png" width="64" height="64"/></h3>
                                        <h4 class="list-group-item-heading text-light invasions_count">{{invasions_count}}</h4>
                                        <p class="list-group-item-text text-light">{{Invasions}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </body>
    {{> footer}}
</html>

<script type='text/javascript' src='./js/utils.js'></script>
<script type='text/javascript'>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
        $('.modal-content').css('background-color', 'rgb(33, 37, 41)');
        $('.modal-content').css('color', 'rgb(255, 255, 255)');
        $('.card').css('background-color', '#1a1a1a');
        $('.list-group-item').css('background-color', 'rgb(33, 37, 41)');
        $('.list-group-item').css('border-color', 'white');
        //$('.darkInvert').css('filter', 'invert(100%)');
    }

    function refreshData() {
        $.ajax({
            url: "/api/server/" + $('#server_selector').val() + "/user/{{user_id}}?type=subscriptions",
            method: "POST",
            type: "json",
            success: function(result) {
                console.log("Data:", result);
                updateCounter(".pokemon_count", result.data.subscriptions.pokemon);
                updateCounter(".pvp_count", result.data.subscriptions.pvp);
                updateCounter(".raids_count", result.data.subscriptions.raids);
                updateCounter(".gyms_count", result.data.subscriptions.gyms);
                updateCounter(".quests_count", result.data.subscriptions.quests);
                updateCounter(".invasions_count", result.data.subscriptions.invasions);
            }
        });
    }

    refreshData();
</script>