{{> header}}

{{> navbar}}

<br>
<h1 align="center" id="header">{{Edit Invasion Subscription}} {{id}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/invasions/edit/{{id}}" method="post">
        <div class="form-group">
            {{City}}
            <select name="city" class="custom-select" multiple required>
                <option value="all" >{{All}}</option>
                {{#cities}}
                <option value="{{name}}" id="g_{{guild}}" {{#selected}}selected{{/selected}} hidden>{{name}}</option>
                {{/cities}}
            </select>
        </div>
        <br>
        <input type="hidden" id="guild_id" name="guild_id" required>
        <button type="submit" class="btn btn-primary">{{Save}}</button>
        <br>
    </form>
    <form action="/api/invasions/delete/{{id}}" method="post">
        <button type="submit" class="btn btn-danger" onclick="return confirm('{{Are you sure that you want to delete invasion subscription}} {{id}}?');">{{Delete}}</button>
    </form>
</div>

<script>
    $('#guild_id').val(guildId);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
</script>
