{{> header}}

{{> navbar}}

<br>
<h1 align="center" id="header">{{Login}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <a type="button" class="btn btn-primary" href="/api/discord/login">{{Login via Discord}}</a>
</div>