<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{New Pokemon Subscription}}</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <form action="/api/pokemon/new" method="post">
                <div class="form-group">
                    {{Pokemon}}
                    <div id="pokemon-list" name="pokemon-list" class="pokemon-list custom-control">
                    {{#pokemon}}
                        <div class="pokemon-icon-sprite item" id="{{id}}" name="{{id}}" data-value="{{id}}" onclick="onPokemonClicked(this)">
                            <img src="{{image_url}}" width="auto" height="48" />
                            <span class="caption">#{{id}}</span>
                        </div>
                    {{/pokemon}}
                    </div>
                    <input type="hidden" id="pokemon" name="pokemon" />
                    <br>
                    <!--<input type="text" class="form-control" placeholder="Search Name or ID" />-->
                    <button id="select_all" type="button" class="btn btn-primary btn-sm">Select All</button>
                    <button id="select_none" type="button" class="btn btn-primary btn-sm">Select None</button>
                </div>
                <div class="form-group">
                    {{Form}}
                    <input type="text" class="form-control" name="form" value="" placeholder="Sunny">
                </div>
                <div class="form-group">
                    {{IV}}
                    <input type="text" class="form-control" name="iv" value="" placeholder="100">
                </div>
                <div class="form-group">
                    IV List
                    <textarea class="form-control" name="iv_list" value="" placeholder="0/15/14&#10;0/15/15&#10;1/15/15" rows="5"></textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{Minimum Level}}
                            <input type="text" class="form-control" name="min_lvl" value="" placeholder="0">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{Maximum Level}}
                            <input type="text" class="form-control" name="max_lvl" value="" placeholder="35">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{Gender}}
                    <select name="gender" class="custom-select" required>
                        {{#genders}}
                        <option value="{{id}}">{{name}}</option>
                        {{/genders}}
                    </select>
                </div>
                <div class="form-group">
                    {{City}}
                    <select name="city" class="custom-select" multiple required>
                        <option value="all" selected>All</option>
                        {{#cities}}
                        <option value="{{name}}" id="g_{{guild}}" hidden>{{name}}</option>
                        {{/cities}}
                    </select>
                </div>
                <br>
                <input type="hidden" id="guild_id" name="guild_id">
                <button type="submit" class="btn btn-primary">{{Create}}</button>
                <br>
            </form>
        </div>
    </body>
</html>

<script type='text/javascript' src="/js/pokemon-list.js"></script>
<script type='text/javascript'>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
    }
    $('#guild_id').val(guildId);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
</script>