{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div id="error"><strong>Error!</strong> {{error}}</div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{New Pokemon Subscription}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/pokemon/new" method="post">
        <div class="form-group">
            <div class="form-group">
                Search
                <input type="text" class="form-control" id="search" value="" placeholder="i.e Pikachu or 25" onkeyup="onPokemonSearch()">
            </div>
            {{Pokemon}}
            <div id="pokemon-list" name="pokemon-list" class="pokemon-list custom-control">
            {{#pokemon}}
                <div class="pokemon-icon-sprite item" id="{{id}}" name="{{name}}" data-value="{{id}}" onclick="onPokemonClicked(this)">
                    <img src="{{image_url}}" width="48" height="48" />
                    <span class="caption">#{{id}}</span>
                </div>
            {{/pokemon}}
            </div>
            <input type="hidden" id="pokemon" name="pokemon" />
            <br>
            <button id="select_all" type="button" class="btn btn-primary btn-sm">{{Select All}}</button>
            <button id="select_none" type="button" class="btn btn-primary btn-sm">{{Select None}}</button>
            <button id="select_gen1" type="button" class="btn btn-warning btn-sm">{{Select Gen1}}</button>
            <button id="select_gen2" type="button" class="btn btn-warning btn-sm">{{Select Gen2}}</button>
            <button id="select_gen3" type="button" class="btn btn-warning btn-sm">{{Select Gen3}}</button>
            <button id="select_gen4" type="button" class="btn btn-warning btn-sm">{{Select Gen4}}</button>
            <button id="select_gen5" type="button" class="btn btn-warning btn-sm">{{Select Gen5}}</button>
            <button id="select_gen6" type="button" class="btn btn-warning btn-sm">{{Select Gen6}}</button>
            <button id="select_rare" type="button" class="btn btn-success btn-sm">{{Select Rare}}</button>
            <button id="select_ultra" type="button" class="btn btn-danger btn-sm">{{Select Ultra Rare}}</button>
        </div>
        <div class="form-group">
            {{Form}}
            <input type="text" class="form-control" name="form" value="" pattern="^((?![aA][lL][lL]).)*$" placeholder="i.e. Sunny" id="pokemon_form" >
        </div>
        <div class="form-group">
            {{Minimum IV}}
            <input type="number" class="form-control" name="iv" id="iv" min=0 max=100 pattern="^([0-9]|[1-9][0-9]|100)$" placeholder="i.e. 100">
        </div>
        <div class="form-group">
            {{IV List}}
            <textarea class="form-control" name="iv_list" id="iv_list" placeholder="i.e. 0/15/14&#10;0/15/15&#10;1/15/15" rows="5"></textarea>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{Minimum Level}}
                    <input type="number" class="form-control" name="min_lvl" value="" min=0 max=35 placeholder="i.e. 0">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{Maximum Level}}
                    <input type="number" class="form-control" name="max_lvl" value="" min=0 max=35 placeholder="i.e. 35">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{Gender}}
                    <select name="gender" class="custom-select" required>
                        {{#genders}}
                        <option value="{{id}}">{{name}}</option>
                        {{/genders}}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{Size}}
                    <select name="size" class="custom-select" required>
                        {{#sizes}}
                        <option value="{{value}}">{{name}}</option>
                        {{/sizes}}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{City}}
            <select name="city" class="custom-select" multiple>
                <option value="None" selected>{{None}}</option>
                <option value="All">{{All}}</option>
                {{#cities}}
                <option value="{{name}}" id="g_{{guild}}" hidden>{{name}}</option>
                {{/cities}}
            </select>
        </div>
        <br>
        <input type="hidden" id="guild_id" name="guild_id">
        <button type="submit" class="btn btn-primary">{{Create}}</button>
        <br>
    </form>
</div>

<script type='text/javascript' src="/js/pokemon-list.js"></script>
<script type='text/javascript'>
    if (!guildId) {
        window.location.href = '/';
    }
    var pokemon_form = document.getElementById('pokemon_form');
    pokemon_form.oninvalid = function (event) {
        event.target.setCustomValidity('Please leave blank if you want all pokemon forms');
    }

    $('#guild_id').val(guildId);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
    $('#server_selector').prop('disabled', true);
    $('#iv').change(function() {
        $('#iv_list').prop('disabled', this.value.length > 0);
    });
    $('#iv_list').change(function() {
        $('#iv').prop('disabled', this.value.length > 0);
    });
</script>
