{{> header}}

{{> navbar}}

<br>
<h1 align="center" id="header">{{Edit Quest Subscription}} {{id}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/quests/edit/{{id}}" method="post">
        <div class="form-group">
            {{Reward}}
            <input type="text" class="form-control" name="reward" value="{{reward}}" placeholder="i.e. 500 Stardust" required>
        </div>
        <div class="form-group">
            {{City}}
            <select name="city" class="custom-select" required>
                <option value="" selected disabled hidden>{{Choose a City}}</option>
                <!--<option value="all">All</option>-->
                {{#cities}}
                <option value="{{name}}" id="g_{{guild}}" {{#selected}}selected{{/selected}} hidden>{{name}}</option>
                {{/cities}}
            </select>
        </div>
        <br>
        <input type="hidden" id="guild_id" name="guild_id">
        <button type="submit" class="btn btn-primary">{{Save}}</button>
        <br>
    </form>
    <form action="/api/quests/delete/{{id}}" method="post">
        <button type="submit" class="btn btn-danger" onclick="return confirm('{{Are you sure that you want to delete quest subscription}} {{id}}?');">{{Delete}}</button>
    </form>
</div>

<script>
    $('#guild_id').val(guildId);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
</script>
