{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div id="error"><strong>Error!</strong> {{error}}</div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{New Quest Subscription}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/quests/new" method="post">
        <div class="form-group">
            {{Reward}}
            <input list="rewards" class="custom-select" name="reward" id="reward">
            <datalist id="rewards">
                {{#rewards}}
                <option value="{{.}}">
                {{/rewards}}
            </datalist>
            <!--
            <select name="reward" class="custom-select" required>
                {{#rewards}}
                <option value="{{.}}">{{.}}</option>
                {{/rewards}}
            </select>
            -->
        </div>
        <div class="form-group">
            {{City}}
            <br>
            <input type="hidden" id="city" name="city" />
            <button id="geofences-select-all" type="button" class="btn btn-primary btn-sm" onclick="selectGeofences(true)">{{Select All}}</button>
            <button id="geofences-select-none" type="button" class="btn btn-primary btn-sm" onclick="selectGeofences(false)">{{Select None}}</button>
            <div id="map" style="height: 500px;"></div>
        </div>
        <br>
        <input type="hidden" id="guild_id" name="guild_id">
        <button type="submit" class="btn btn-primary">{{Create}}</button>
        <br>
    </form>
</div>

<script type='text/javascript' src="/js/city-map.js"></script>
<script>
    if (!guildId) {
        window.location.href = '/';
    }
    $('#guild_id').val(guildId);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
    $('#server_selector').prop('disabled', true);
    initMap([{{start_lat}}, {{start_lon}}], {{start_zoom}}, {{min_zoom}}, {{max_zoom}}, "{{{tileserver}}}");
</script>
