{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div id="error"><strong>Error!</strong> {{error}}</div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{New Raid Subscription}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/raids/new" method="post">
        <div class="form-group">
            <div class="form-group">
                Search
                <input type="text" class="form-control" id="search" value="" placeholder="i.e Pikachu or 25" onkeyup="onPokemonSearch()">
            </div>
            {{Pokemon}}
            <div id="pokemon-list" name="pokemon-list" class="pokemon-list custom-control">
            {{#pokemon}}
                <div class="pokemon-icon-sprite item" id="{{id}}" name="{{name}}" data-value="{{id}}" onclick="onPokemonClicked(this)">
                    <img src="{{image_url}}" width="48" height="48" />
                    <span class="caption">#{{id}}</span>
                </div>
            {{/pokemon}}
            </div>
            <input type="hidden" id="pokemon" name="pokemon" />
            <br>
            <button id="select_all" type="button" class="btn btn-primary btn-sm">{{Select All}}</button>
            <button id="select_none" type="button" class="btn btn-primary btn-sm">{{Select None}}</button>
            <button id="select_gen1" type="button" class="btn btn-warning btn-sm">{{Select Gen1}}</button>
            <button id="select_gen2" type="button" class="btn btn-warning btn-sm">{{Select Gen2}}</button>
            <button id="select_gen3" type="button" class="btn btn-warning btn-sm">{{Select Gen3}}</button>
            <button id="select_gen4" type="button" class="btn btn-warning btn-sm">{{Select Gen4}}</button>
            <button id="select_gen5" type="button" class="btn btn-warning btn-sm">{{Select Gen5}}</button>
            <button id="select_rare" type="button" class="btn btn-success btn-sm">{{Select Rare}}</button>
            <button id="select_ultra" type="button" class="btn btn-danger btn-sm">{{Select Ultra Rare}}</button>
            <button id="select_raid5star" type="button" class="btn btn-danger btn-sm">{{Select 5 Star Raid}}</button>
        </div>
        <div class="form-group">
            {{Form}}
            <input type="text" class="form-control" name="form" value="" placeholder="i.e. Sunny">
        </div>
        <div class="form-group">
            {{City}}
            <select name="city" class="custom-select" multiple required>
                <option value="all" selected>{{All}}</option>
                {{#cities}}
                <option value="{{name}}" id="g_{{guild}}" hidden>{{name}}</option>
                {{/cities}}
            </select>
        </div>
        <br>
        <input type="hidden" id="guild_id" name="guild_id">
        <button type="submit" class="btn btn-primary">{{Create}}</button>
        <br>
    </form>
</div>

<script type='text/javascript' src="/js/pokemon-list.js"></script>
<script type='text/javascript'>
    $('#guild_id').val(guildId);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }
</script>
