{{> header}}

{{> navbar}}

<br>
<div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
    <div id="error"><strong>Error!</strong> {{error}}</div>
</div>
{{#show_error}}<br>{{/show_error}}

<h1 align="center" id="header">{{Settings}}</h1>
<br>
<div class="w-75" style="float: none; margin: 0 auto;">
    <form action="/api/settings" method="post">
        <div class="card bg-dark">
            <div class="card-body">
                <div class="container">
                    <div class="card bg-dark">
                        <div class="card-header bg-dark text-light text-center"><b>General</b></div>
                        <div class="card-body">
                            <div class="form-group">
                                <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip" data-html="true" title="Set the icon style to use in notiifications."></i>
                                {{Icon Style}}
                                <select id="icon_style" name="icon_style" class="custom-select" required>
                                    <option value="" selected disabled hidden>{{Choose an Icon Style}}</option>
                                    {{#icon_styles}}
                                    <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                                    {{/icon_styles}}
                                </select>
                            </div>
                            {{^hide_phone_number}}
                            <div class="form-group">
                                {{Phone Number}}
                                <input type="text" class="form-control" id="phone_number" name="phone_number" pattern="[0-9]{10}" placeholder="i.e 8001234567">
                            </div>
                            {{/hide_phone_number}}
                        </div>
                    </div>
                    <div class="card bg-dark">
                        <div class="card-header bg-dark text-light text-center"><b>Global Location</b></div>
                        <div class="card-body">
                            <div class="form-group">
                                <i class="fa fa-question-circle float-right" aria-hidden="true" data-toggle="tooltip"  data-html="true" title="When set notifications will also check if they match your global location as well as invidual locations per subscription, if set."></i>
                                {{Global Location}}
                                <select id="location" name="location" class="custom-select">
                                    <!--<option value="" selected>{{Choose a Location}}</option>-->
                                    <option value="">{{None}}</option>
                                    <!--
                                    {{#locations}}
                                    <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                                    {{/locations}}
                                    -->
                                </select>
                            </div>
                            <div class="form-group">
                                <div id="map" style="height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-dark">
                        <div class="card-header bg-dark text-light text-center"><b>{{Enable Subscriptions}}</b></div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enable_pokemon" id="enable_pokemon">
                                        <label class="form-check-label" for="enable_pokemon">
                                            Pokemon
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-4 form-check">
                                        <input class="form-check-input" type="checkbox" name="enable_pvp" id="enable_pvp">
                                        <label class="form-check-label" for="enable_pvp">
                                            PvP
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-4 form-check">
                                        <input class="form-check-input" type="checkbox" name="enable_raids" id="enable_raids">
                                        <label class="form-check-label" for="enable_raids">
                                            Raids
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enable_quests" id="enable_quests">
                                        <label class="form-check-label" for="enable_quests">
                                            Quests
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enable_invasions" id="enable_invasions">
                                        <label class="form-check-label" for="enable_invasions">
                                            Invasions
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enable_lures" id="enable_lures">
                                        <label class="form-check-label" for="enable_lures">
                                            Lures
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="enable_gyms" id="enable_gyms">
                                        <label class="form-check-label" for="enable_gyms">
                                            Gyms
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <input type="hidden" id="guild_id" name="guild_id">
                    <button type="submit" class="btn btn-primary">{{Save}}</button>
                    <br>
                </div>
            </div>
        </div>
    </form>
</div>

<script type='text/javascript' src="/js/location-viewer.js"></script>
<script type='text/javascript'>
    if (!guildId) {
        window.location.href = '/';
    }
    $('#guild_id').val(guildId);
    const guilds = document.querySelectorAll('*[id^="g_' + guildId + '"]');
    if (guilds) {
        guilds.forEach(guild => guild.hidden = false);
    }

    $('#location').change(function(e) {
        $.ajax({
            url: "/api/server/" + $('#server_selector').val() + "/user/{{user_id}}?type=get_location&name=" + $('#location').val(),
            method: "POST",
            type: "json",
            success: function(result) {
                const location = result.data.location;
                const radius = result.data.radius;
                loadLocation(location, radius);
            }
        });
    });

    function refreshData() {
        showError('Select a server from the dropdown menu before creating/editing/deleting any subscriptions!');
        $.ajax({
            url: "/api/server/" + $('#server_selector').val() + "/user/{{user_id}}?type=settings",
            method: "POST",
            type: "json",
            success: function(result) {
                $('#icon_style').val(result.data.settings.iconStyle);
                $('#phone_number').val(result.data.settings.phoneNumber);
                $('#enable_pokemon').prop('checked', result.data.settings.enable_pokemon);
                $('#enable_pvp').prop('checked', result.data.settings.enable_pvp);
                $('#enable_raids').prop('checked', result.data.settings.enable_raids);
                $('#enable_quests').prop('checked', result.data.settings.enable_quests);
                $('#enable_invasions').prop('checked', result.data.settings.enable_invasions);
                $('#enable_lures').prop('checked', result.data.settings.enable_lures);
                $('#enable_gyms').prop('checked', result.data.settings.enable_gyms);
                const locations = result.data.settings.locations;
                if (locations.length === 0) {
                    initMap(
                        [result.data.settings.start_lat, result.data.settings.start_lon],
                        result.data.settings.start_zoom,
                        {{min_zoom}},
                        {{max_zoom}},
                        "{{{tileserver}}}"
                    );
                } else {
                    for (const location of locations) {
                        const selected = location.name === result.data.settings.location;
                        $('#location').append(new Option(
                            location.name,
                            location.name,
                            selected,
                            selected
                        ));
                        const curLocation = (locations.filter(x => x.name === location) || []);
                        if (curLocation.length === 0 || (curLocation.length > 0 && selected)) {
                            const radius = curLocation.length > 0 ? curLocation[0].distance : 0;
                            initMap(
                                [result.data.settings.start_lat, result.data.settings.start_lon],
                                result.data.settings.start_zoom,
                                {{min_zoom}},
                                {{max_zoom}},
                                "{{{tileserver}}}",
                                curLocation.length > 0 ? curLocation[0].location : null,
                                radius
                            );
                            // TODO: Center map when location selected
                        }
                    }
                }
            }
        });
    }

    refreshData();
</script>